vrf instance 100
!
vrf instance 200
!
interface Ethernet1
   no switchport
!
interface Ethernet1.100
   encapsulation dot1q vlan 100
   vrf 100
   ip address 10.0.0.5/31
   pim ipv4 sparse-mode
!
interface Ethernet2
   no switchport
!
interface Ethernet2.200
   encapsulation dot1q vlan 200
   vrf 200
   ip address 10.0.0.7/24
   pim ipv4 sparse-mode
!
interface Loopback100
   vrf 100
   ip address 1.1.1.1/32
!
interface Loopback101
   vrf 100
   ip address 12.12.12.12/32
!
interface Loopback200
   vrf 200
   ip address 2.2.2.2/32
!
interface Loopback200
   vrf 200
   ip address 2.2.2.2/32
!
ip routing
ip routing vrf 100
ip routing vrf 200
!
router bgp 12
   vrf 100
      neighbor 10.0.0.4 remote-as 65103
      neighbor 10.0.0.4 local-as 100 no-prepend replace-as
      redistribute connected
   !
   vrf 200
      neighbor 10.0.0.6 remote-as 65202
      neighbor 10.0.0.6 local-as 200 no-prepend replace-as
      redistribute connected
!
router multicast
   ipv4
      software-forwarding sfe
   !
   vrf 100
      ipv4
         routing
   !
   vrf 200
      ipv4
         routing
!
router pim sparse-mode
   vrf 100
      ipv4
         rp address 12.12.12.12
         anycast-rp 12.12.12.12 1.1.1.1
         anycast-rp 12.12.12.12 2.2.2.2
   !
   vrf 200
      ipv4
         rp address 12.12.12.12
         anycast-rp 12.12.12.12 1.1.1.1
         anycast-rp 12.12.12.12 2.2.2.2
